
<form class="form-horizontal">

  <button class="btn btn-primary" (click)="save()">save</button>
  <button class="btn btn-default" (click)="restore()">cancell</button>
  <div class="alert alert-success" role="alert" *ngIf="showSaved">saved.</div>
  <div class="alert alert-info" role="alert" *ngIf="showCancelled">cancelled.</div>

  <div class="form-group">
    <div class="col-sm-5">
      <label class="control-label" for="span">更新間隔（ミリ秒）</label>
      <p>パネルの表示を更新する間隔.</p>
    </div>
    <div class="col-sm-2">
      <select id="span" class="form-control" [(ngModel)]="curConfig.replacementSpan" name="span">
        <option *ngFor="let span of spans">{{span}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5">
      <label class="control-label" for="bytes">バイト長</label>
      <p>表示単位を制限するおおよその長さ.<br>実際の長さは他の条件によって前後する.バイト長を超えていても,形態素以上に分解されることはない.</p>
    </div>
    <div class="col-sm-2">
      <select id="bytes" class="form-control" [(ngModel)]="curConfig.joinUnit" name="bytes">
        <option *ngFor="let byte of bytes">{{byte}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5">
      <label class="control-label" for="points">句読点</label>
      <p>句読点が先頭にくる場合,直前の単位の末尾に結合させる.</p>
    </div>
    <div class="col-sm-2">
      <div class="checkbox">
        <label><input type="checkbox" [(ngModel)]="curConfig.isPointInPrev" name="point"></label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5">
      <label class="control-label" for="particle">助詞</label>
      <p>助詞が先頭にくる場合,直前の単位の末尾に結合させる.</p>
    </div>
    <div class="col-sm-2">
      <div class="checkbox">
        <label><input type="checkbox" [(ngModel)]="curConfig.isParticleInPrev" name="particle"></label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5">
      <label class="control-label" for="auxiliaryVerb">助動詞</label>
      <p>助動詞が先頭にくる場合,直前の単位の末尾に結合させる.</p>
    </div>
    <div class="col-sm-2">
      <div class="checkbox">
        <label><input type="checkbox" [(ngModel)]="curConfig.isAuxiliaryVerbInPrev" name="auxiliaryVerb"></label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5">
      <label class="control-label" for="nounSuffix">名詞（接尾）</label>
      <p>名詞（接尾）が先頭にくる場合,直前の単位の末尾に結合させる.</p>
    </div>
    <div class="col-sm-2">
      <div class="checkbox">
        <label><input type="checkbox" [(ngModel)]="curConfig.isNounSuffixInPrev" name="nounSuffix"></label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5">
      <label class="control-label" for="verbSuffix">動詞（接尾）</label>
      <p>動詞（接尾）が先頭にくる場合,直前の単位の末尾に結合させる.</p>
    </div>
    <div class="col-sm-2">
      <div class="checkbox">
        <label><input type="checkbox" [(ngModel)]="curConfig.isVerbSuffixInPrev" name="verbSuffix"></label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5">
      <label class="control-label" for="verbNonSelf">動詞（非自立）</label>
      <p>動詞（非自立）が先頭にくる場合,直前の単位の末尾に結合させる.</p>
    </div>
    <div class="col-sm-2">
      <div class="checkbox">
        <label><input type="checkbox" [(ngModel)]="curConfig.isVerbNonSelfRelianceInPrev" name="verbNonSelf"></label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-5">
      <label class="control-label" for="devMode">おまけ</label>
      <p>以下の機能を有効化する.<br>・解析のみを行うボタン.</p>
    </div>
    <div class="col-sm-2">
      <div class="checkbox">
        <label><input type="checkbox" [(ngModel)]="curConfig.isDevMode" name="devMode"></label>
      </div>
    </div>
  </div>
</form>
